/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {

  margin:0;
  padding:0;
  box-sizing: border-box;
}
html, body{

  height: 1000px;
  width: auto;
}


.image1{

  height: 950px;
}


.image1 img{
  width: 100% ;
  height: 70%;

  
}
.over-img img{
  width: 150px;
  height:  150px;
  position: absolute;
  left: 0;
  top: 200px;
  left: 1100px;
  display: inline;
  
  

}

.Description p{
  
  color: white;
  font-size: large;
  font-weight: bold;
  width: 100px;
  height: 100px;
  display: inline;
  position: absolute;
  top: 100px;
  left: 100px;
}